body{
    background-color: aliceblue;
    font-family:  "Poppins", sans-serif;
}

.judul{
    padding-top: 1px;
}
.judul ul{
    list-style: none;
}

.judul ul li{
    display: inline-block;
}

.judul ul li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 20px;
    margin-left: -17px;
    

}

.kotak{
    background-color: white;
    width: 220px;
    height: 220px ;
    margin: 200px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.input{
    margin-left: 20px;
    /* padding-top: 20px; */
    
}

.angka{
    height: 25px;
    margin-top: 3px;
    border-radius: 5px;
    border:1px solid black;
}

.button{
    margin-left: 45px;
    margin-top: 20px;
}

.tombol1{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.56);
    margin-left: -4px;

}

.tombol1:hover{
    transform: scale(1.2);
    transition: ease 0.5s;
    background-color: white;
    color: red;
}
.tombol2{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: yellow;
    color: white;
    border: none;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.56);

}

.tombol2:hover{
    transform: scale(1.2);
    transition: ease 0.5s;
    background-color: white;
    color:yellow;
}
.tombol3{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: green;
    color: white;
    border: none;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.56);

}

.tombol3:hover{
    transform: scale(1.2);
    transition: ease 0.5s;
    background-color: white;
    color: green;
}
.tombol4{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: skyblue;
    color: white;
    border: none;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.56);

}

.tombol4:hover{
    transform: scale(1.2);
    transition: ease 0.5s;
    background-color: white;
    color: skyblue;
}

.hasil{
    margin-left: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}