/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Latar belakang halaman */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #007bff, #c80000);
}

/* Kotak login */
.login-container {
  background: white;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  width: 320px;
  text-align: center;
}

/* Judul */
.login-container h2 {
  margin-bottom: 20px;
  color: #333;
}

/* Label & Input */
.form-group {
  text-align: left;
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: 600;
  color: #444;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
  box-shadow: 0 4px 10px rgba(0, 91, 255, 0.4); /* efek shadow saat hover */
  transform: translateY(-2px); /* tombol sedikit naik */
}

input:focus {
  border-color: #007bff;
}

/* Tombol */
.btn-login {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  transition: background 0.3s;
}

.btn-login:hover {
  background-color: #0056b3;
}

/* Teks bawah */
.register-text {
  margin-top: 15px;
  color: #666;
  font-size: 14px;
}

.register-text a {
  color: #007bff;
  text-decoration: none;
}

.register-text a:hover {
  text-decoration: underline;
}


