.teks {
  display: none;
  background-color: lightgreen;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}

#tombol:checked + .teks {
  display: block;
}

label {
  background-color: #007bff;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
}