 body{
    background-color: #f3f3f3;
}

.card_login{
    background-color: white;
    width: 340px;
    height: 350px ;
    margin: 100px auto;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.judul_login{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;

}


.label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}

input{
    width: 350px;
    height: 35px;
    border-radius: 7px;
    border: 0.2px solid #c5c5c5;
    padding: 4px;
    font-size: medium;
    

}

.tombol{
  border: none;
  height: 48px;
  color: #f3f3f3;
  font-size: 20px;

}
 

input:nth-child(11) {
  background-color: rgb(0, 121, 250);
}


.ket_daftar{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-top: 10px;
} 

.daftar{
    color: rgb(5, 91, 204);
    text-decoration: none;
    
}