body{
    background-color: aquamarine;
    font-family: "Poppins", sans-serif;
}.ket{
    display: grid;
    align-items: center;
}.judul{
   font-size: 50px;
   font-weight: 700;
   
   font: bold;
   padding-left: 630px;
}.subjudul{
    font-size: 35px;
    font-weight: 700;
    
    font: bold; 
    margin-top: 50px;
    margin-left: 40px;
}.isi{
    margin-left: 20px;
    font-weight: 700;

}